
<h3><%= @user.name %></h3>
<small><%= @user.email %></small>

<% if current_user?(@user) %>
	<div class="text-center">
		<%= link_to "Create New Event", new_event_path, class: "btn btn-success" %>
	</div>
<% end %>

<% if @user.events.any? %>
<h1> coming soon</h1>

  	<%= render 'shared/table', object: @user.events.future %>
<% end %>

<% if @user.events.any? %>
<h1> attended </h1>

  	<%= render 'shared/table', object: @user.events.past %>
<% end %>

<% if @user.events.any? %>
<h1> created by <%= @user.name %></h1>

  	<%= render 'shared/table', object: @user.events %>
<% end %>





